.circle {
    width: 100%;
    height: 100%;
    /*background: green;*/
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
}

.dragDropBlock {
    border: darkgrey 1px dotted;
    width: 30px;
    height: 30px;     
}

.fit {
    max-width:100%;
    white-space:nowrap;
} 

.virtualRow{
   border: darkgrey 2px dotted;
}